.cartButton {
  height: 26px;
  width: 52px;
  background-color: $cart-button-color;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $gray;
  }

  &:active {
    transform: scale(0.9);
  }

  .cartIcon {
    height: 12px;
    width: 12px;
    margin-right: 8px;
  }

  .cartText {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat';
  }

  @media (min-width: $layout-breakpoint-lg) {
    height: 45px;
    width: 90px;

    .cartIcon {
      height: 20px;
      width: 20px;
    }

    .cartText {
      font-size: 18px;
    }
  }
}
