$primary-color: #0f52ba;
$gray: #eeeeee;
$text-dark: #000000;
$text-light: #ffffff;
$cart-button-color: #ffffff;
$product-card-color: #ffffff;
$product-pricetag-color: #373737;

$layout-breakpoint-lg: 960px;
