.container {
  .button {
    height: 18px;
    width: 18px;
    border: none;
    border-radius: 18px;
    padding: 2px;
    margin: 0;
    color: white;
    background-color: black;
    font-size: 8px;
    font-weight: 400;
    margin-left: -12px;
    float: right;
    cursor: pointer;
  }

  .productContainer {
    display: flex;
    flex-direction: column;
    background-color: $product-card-color;
    border-radius: 4px;
    margin: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.19);
    padding: 14px;

    .productInnerContainer1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .imageContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
          height: 80px;
          width: auto;
        }
      }

      .name {
        font-size: 16px;
        font-weight: 300;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .productInnerContainer2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .price {
        font-size: 14px;
        font-weight: 700;
        padding: 4px;
        color: $text-dark;
      }
    }

    @media (min-width: $layout-breakpoint-lg) {
      height: 95px;
      padding-left: 22px;
      padding-right: 22px;
      flex-direction: row;

      .productInnerContainer1 {
        flex-direction: row;

        .name {
          width: 140px;
          margin-right: 15%;
          margin-left: 15%;
        }

        .imageContainer {
          .image {
            height: 60px;
          }
        }
      }

      .productInnerContainer2 {
        flex: 1;
        justify-content: space-between;
      }
    }
  }
}
