.button {
  height: 38px;
  width: 38px;
  border: none;
  border-radius: 38px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}
